<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$', '$'], ['\\(', '\\)'] ],
          processEscapes: true,
          skipTags: ["script", "noscript", "style", "textarea"]
        },
        elements: [ 'this-doesnt-exist' ]{% comment %}I just want MathJax not to do anything unless I explicitly tell it to. This might not be the best way.{% endcomment%}
      })
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript">
      var disqus_shortname='reasonableapproximation';
      $(function () {
          $('code').each(function () {
              var html = $(this).html();
              if (html[0] == '$' && html[html.length-1] == '$')
                  MathJax.Hub.Queue(['Typeset', MathJax.Hub, this]);
          });
      });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="/">A Reasonable Approximation</a></h1>
	<h3>Latest posts</h3>
	<ul>
	  {% comment %}There's no easy way to increment an integer, so use hacky string-length method.{% endcomment %}
	  {% assign shown = '' %}
	  {% for post in site.posts %}
	    {% if shown.size < 5 %}
              {% unless post.draft %}
	        {% capture temp %}{{ shown }}*{% endcapture %}
                {% assign shown = temp %}
	        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endunless %}
	    {% endif %}
	  {% endfor %}
	</ul>
      </header>
      <section>
	{{ content }}
      </section>
      <footer>
	<p><small><a href="/rss.xml">RSS</a>
	    | <a href="http://admonymous.com/philh">Anonymous feedback</a>
	    | I also have <a href="http://philh.net">a website</a></small></p>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme (more or less)</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-43866313-1', 'reasonableapproximation.net');
ga('send', 'pageview');
    </script>
  </body>
</html>
