---
layout: default
---
<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>

{{ content }}

<p><em>Posted on {{ page.date | date_to_long_string }}</em></p>

{%if page.tags.size > 0 %}
<p><em>
  Tagged:
  {% assign first_time = true %}
  {% for tag in page.tags -%}
    {%- unless first_time %}; {% endunless -%}
    {%- assign first_time = false -%}
    <a href="{{ site.url }}/tags.html/{{ tag | slugify }}">{{ tag }}</a>
  {%- endfor %}
</em></p>
{% endif %}

{%if page.external_comments.size > 0 %}
<p><em>
  Comments elsewhere:
  {% assign first_time = true %}
  {% for site in page.external_comments -%}
    {%- unless first_time %}; {% endunless -%}
    {%- assign first_time = false -%}
    <a href="{{ site.url }}">{{ site.name }}</a>
  {%- endfor %}
</em></p>
{% endif %}

<div id="disqus_thread"></div>
<script async type="text/javascript" src="//reasonableapproximation.disqus.com/embed.js"></script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
